<% provide :title, t(".title") %>
<h1>
  <%= t ".heading" %>
</h1>
<p>
  <%= t ".before_page_link" %>
  <%= link_to t(".page_link"), Settings.help_link %>.
  <%= t ".before_book_link" %>
  <%= link_to t(".book_link"), Settings.book_link %>.
</p>
