<% provide :title, t("help.title") %>
<h1>
  <%= t("help.heading") %>
</h1>
<p>
  <%= t("help.before_page_link") %>
  <%= link_to t("help.page_link"), Settings.help_link %>.
  <%= t("help.before_book_link") %>
  <%= link_to t("help.book_link"), Settings.book_link %>.
</a>
</p>
